{% load guardian_tags %}

{% if user.is_authenticated and user.is_active %}
  {% get_obj_perms user for community as "community_perms" %}
    <div class="sidebar-module mb40">
      <h4>Community Actions</h4>
      <ol class="list-unstyled">
        <li><a href="{% url 'view_community_landing' community.slug %}">Community Landing Page</a></li>
        <li><a href="{% url 'view_community_profile' community.slug %}">View Community Profile</a></li>
        {% if "change_community" in community_perms %}
          <li><a href="{% url 'edit_community_profile' community.slug %}">Edit Community Profile</a></li>
        {% endif %}
        {% if "change_community_systersuser" in community_perms %}
          <li><a href="{% url 'community_users' community.slug %}">Manage Community Users</a></li>
        {% endif %}
        {% if "approve_community_joinrequest" in community_perms %}
          <li><a href="{% url 'view_community_join_request_list' community.slug %}">Show Join Requests</a></li>
        {% endif %}
      </ol>
    </div>
{% endif %}
