{% extends "base.html" %}

{% block title %}
  - {{ community }} - Join Requests
{% endblock %}

{% block content %}
  <div class="mt40"></div>
  <div class="row">
    <div class="col-md-12">
      <h1>
        {{ community }} Join Requests
      </h1>
      <hr/>
    </div>
    <div class="col-md-9">
      <table class="table table-hover decoration-none">
        <thead>
          <tr>
            <th>#</th>
            <th>User</th>
            <th>Email address</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for join_request in object_list %}
            <tr>
              <th>{{ forloop.counter }}</th>
              <td><a href="{{ join_request.user.get_absolute_url }}">{{ join_request.user }}</a></td>
              <td><a href="mailto:{{ join_request.user.user.email }}">{{ join_request.user.user.email }}</a></td>
              <td>{{ join_request.date_created }}</td>
              <td>
                <a href="{% url 'approve_community_join_request' community.slug join_request.pk %}"
                   role="button" class="btn btn-primary btn-sm">Approve</a>
                <a href="{% url 'reject_community_join_request' community.slug join_request.pk %}"
                   role="button" class="btn btn-warning btn-sm">Reject</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      {% include 'community/snippets/community_sidebar.html' %}
    </div>
  </div>
{% endblock %}

{% block community_footer %}
  {% include 'community/snippets/footer.html' %}
{% endblock %}
