Django==1.6.5
Sphinx==1.2.2
django-nose==1.2
flake8==2.1.0
psycopg2==2.5.3
django-cms>=3.0
South==0.8.4
django-mptt==0.6
django-sekizai==0.7
django-classy-tags==0.5
djangocms-admin-style==0.2.2
html5lib==1.0b1
djangocms-text-ckeditor>=2
