{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Facebook, Twitter, Linkedin, Github, Systers keeper: Rose Robinson -->
  <div class="container col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1 mt40">
    <h1 class="contact-head">Contact Systers</h1>
    <hr>
    <p class="contact-text">
      Systers is curated by the current <a href="mailto:systers-keeper@systers.org">Systers-keeper</a>, Rose Robinson.
    </p>
    <p class="contact-text">
      You can also connect with Systers on our social networks.
    </p>
    <div class="contact-social">
      <a href="https://www.facebook.com/AnitaB.0rg/" target="_blank"><i class="fa fa-facebook-official fa-2x contact-icon facebook_icon"></i></a>
      <a href="https://twitter.com/anitab_org" target="_blank"><i class="fa fa-twitter fa-2x contact-icon twitter_icon "></i></a>
      <a href="https://www.linkedin.com/company/anitab-org" target="_blank"><i class="fa fa-linkedin fa-2x contact-icon linkedin_icon "></i></a>
      <a href="https://github.com/anitab-org" target="_blank"><i class="fa fa-github fa-2x contact-icon github_icon"></i></a>
    </div>
    <div class="mt40"></div>
  </div>
{% endblock %}
