{% extends "base.html" %}

{% block title %}
  - {{ community }} - Delete {{ object.title }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

{% if post_type == "news" %}
  {% url 'delete_community_news' community.slug object.slug as delete_url %}
{% elif post_type == "resource" %}
  {% url 'delete_community_resource' community.slug object.slug as delete_url %}
{% else %}
  {% url 'delete_community_page' community.slug object.slug as delete_url %}
{% endif %}

<div class="mt40"></div>
<div class="row">
  <div class="col-md-12">
    <h1>Confirm to delete "{{ object.title }}"</h1>
    <hr/>
  </div>
  <div class="col-md-12">
    <form action="{{ delete_url }}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object.title }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-danger" />
  </form>
  </div>
</div>
{% endblock %}