{% extends "meetup/base.html" %}

{% block title %}
  Add Meetup Location 
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row mt40">
    <div class="col-md-12">
      <h1>Add Meetup Location</h1>
      <hr/>
    </div>
    <div class="col-sm-9">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      {% block meetup_location_page_content %}
      <div class="mt20 mb40"></div>
      <div class="row ml20">
        <div class="col-md-12">
          <div class="well">
            {{ form.media }}
            {% crispy form %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
    <div class="col-sm-3">
      {% block extra_sidebar %}{% endblock %}
    </div>
  </div>
{% endblock %}
