{{% extends "base.html" %}

{% block title %}
  Delete {{ object.title }}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row mt40">
    <div class="col-md-12">
      <h1>Confirm to Delete {{ object.title }}</h1>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="mt40"></div>
      <div class="row">
        <div class="col-md-12">
          <form action="{% url 'reject_meetup_request' object.meetup_location.slug object.slug as delete_url %}" method="post">
          {% csrf_token %}
          <p>Are you sure you want to delete "{{ object.title }}"?</p>
          <input type="submit" value="Confirm" class="btn btn-danger" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}