{% extends "meetup/base.html" %}

{% block meetup_page_content %}
  <div class="mt20 mb40">
    <h2 class="ml15">Support Requests</h2>
    {% if not supportrequest_list %}
      <div class="box-container box-body pt25">
        <p>
          <i>No support requests to show.</i>
        </p>
      </div>
    {% endif %}
    {% for support_request in supportrequest_list %}
      <div class="mt20 ml15 box-container box-body">
        <p>
          <span><strong>Volunteer:</strong> {{ support_request.volunteer }}</span>
        </p>
        <p>
          {{ support_request.description|safe|truncatewords:30 }}
        </p>
        <p>
          <a href="{% url "view_support_request"  meetup.slug support_request.pk %}">SEE MORE</a>
        </p>
      </div>
    {% endfor %}
    {% include "blog/snippets/pagination.html" %}
    <p>
      <a href="{% url "view_meetup"  meetup.slug %}">Back to meetup</a>
    </p>
  </div>
{% endblock %}
