{% extends "base.html" %}

{% block title %}
  Systers Meetup Locations
{% endblock %}

{% block content %}
<h1 class="mt40 text-center meetup-list-head">Upcoming Meetups</h1>
<p class="meetup-list-subhead">We host meetups, workshops, networking events, and more. See what’s happening near you.</p>
{% csrf_token %}
<div class="form-inline" align="center">
  <div class="form-group">
    <i class="glyphicon glyphicon-search"></i>
  </div>
  <div id="keyword" class="form-group">
    <input id="keyword-input" type="text" name="keyword" placeholder="Look For Meetups"/>  
  </div>
  <div class="form-group">
    <h4> Near </h4>
  </div>
  <div class="form-group">
    <select style="max-width=100%;" name="location" id="location" placeholder="Location">
      <option value="Current Location">{{current_city}}</option>
      {% for city in cities_list %}
      <option value = "{{forloop.counter}}">{{ city }}</option>
      {% endfor %}
    </select>
  </div>
    <div class="form-group">
      <input id="go-btn"  type="submit" name="submit" placeholder="Go"/>
    </div>
</div>
<br>
  <div class="container" id="meetups-list">
    <div class="row">
      {% for meetup in meetup_list %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{meetup.title}}</h3>
            <h4>{{meetup.date}}</h4>
            <h5>{{meetup.meetup_location}}</h5>
            <p align="right"><a href="{%url 'view_meetup' meetup.slug%}" class="btn btn-primary" role="button">Checkout</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
