{{% extends "base.html" %}

{% block title %}
  Delete {{ meetup_location }}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row mt40">
    <div class="col-md-12">
      <h1>Confirm to Delete {{ object.name }}</h1>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div class="mt40"></div>
      <div class="row">
        <div class="col-md-12">
          <form action="{% url 'delete_meetup' meetup_location.slug object.slug as delete_url %}" method="post">
          {% csrf_token %}
          <p>Are you sure you want to delete "{{ object.name }}"?</p>
          <input type="submit" value="Confirm" class="btn btn-danger" />
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      {% include 'meetup/snippets/meetup_location_sidebar.html' %}
      {% block extra_sidebar %}{% endblock %}
    </div>
  </div>
{% endblock %}
