{% extends "base.html" %}

{% block content %}
  <div class="mt20 mb40">
    <h2 class="ml15"> Going </h2>
      {% for rsvp in rsvp_list %}
        <div class="ml15 mt20">
          <h4>
            {% if rsvp.plus_one %}
              <a href="{{ rsvp.user.get_absolute_url }}">{{ rsvp.user }}</a> + 1
            {% else %}
              <a href="{{ rsvp.user.get_absolute_url }}">{{ rsvp.user }}</a>
            {% endif %}
          </h4>
        </div>
      {% endfor %}
      {% include "blog/snippets/pagination.html" %}
  </div>
{% endblock %}
