{% extends "meetup/base.html" %}

{% block meetup_page_content %}
  <h2>Support Request</h2>
  <div class="box-container box-body pt25">
    <p> 
      <b>Volunteer: </b> {{ support_request.volunteer }}
    </p>
    <p>
      <b>Description: </b> {{ support_request.description|safe }} <br/>
    </p>
    <hr>
    {% if support_request.is_approved %}
      <p>
        <b>Status: </b><i>Approved</i>
      </p>
    {% else %}
      <p>
        <b>Status: </b><i>Not Approved</i>
        &nbsp; &nbsp; 
         {% if perms.meetup.approve_support_request %}
                <a href="{% url 'approve_support_request' meetup.slug support_request.pk %}"
           role="button" class="btn btn-primary btn-sm">Approve</a>
        <a href="{% url 'reject_support_request'  meetup.slug support_request.pk %}"
           role="button" class="btn btn-warning btn-sm">Reject</a>
        {% endif %}

      </p>
    {% endif %}
    <hr>
    <p>
      <a href="{% url 'add_support_request_comment'  meetup.slug support_request.pk %}">Add comment</a>
    </p>
  </div>
  <h3>Discussion Area</h3>
  {% if not comments %}
    <div class="box-container box-body pt25">
      <p>
        <i>There are no comments yet.</i>
      </p>
    </div>
  {% endif %}
  {% for comment in comments %}
    <div class="box-container pt25 commentbox">
      <a href="{{ comment.author.get_absolute_url }}"><strong>{{ comment.author}}</strong></a>
      <a class="details">commented on {{ comment.date_created}}</a>
      {% if user == comment.author.user %}
           <a class="delete" href="{% url 'delete_meetup_comment' meetup.slug comment.id %}"><span class="glyphicon glyphicon-trash"></span></a>
           <a class="edit" href="{% url 'edit_meetup_comment' meetup.slug comment.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
      {% endif %}
        <div class="box-body">
        <p>{{ comment.body }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
