{% extends "base.html" %}

{% block title %}
  - {{ meetup }} - Delete support request
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

  {% url 'delete_support_request'  meetup.slug object.pk as delete_url %}

<div class="mt40"></div>
<div class="row">
  <div class="col-md-12">
    <h2>Confirm to delete support request</h2>
    <hr/>
  </div>
  <div class="col-md-12">
    <form action="{{ delete_url }}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete this support request?</p>
    <input type="submit" value="Confirm" class="btn btn-danger" />
  </form>
  </div>
</div>
{% endblock %}
