{% extends "base.html" %}

{% block content %}
  <div class="mt20 mb40">
    <h2 class="ml15">Unapproved Support Requests</h2>
    {% for support_request in supportrequest_list %}
      <div class="mt20 ml15 box-container box-body">
        <p>
          <span><strong>Volunteer:</strong> {{ support_request.volunteer }}</span>
        </p>
        <p>
          {{ support_request.description|safe|truncatewords:30 }}
        </p>
        <p>
          <a href="{% url "view_support_request"  meetup.slug support_request.pk %}">SEE MORE</a>
        </p>
        <p>
          <a href="{% url 'approve_support_request' meetup.slug support_request.pk %}"
             role="button" class="btn btn-primary btn-sm">Approve</a>
          <a href="{% url 'reject_support_request' meetup.slug support_request.pk %}"
             role="button" class="btn btn-warning btn-sm">Reject</a>
        </p>
      </div>
    {% endfor %}
    {% include "blog/snippets/pagination.html" %}
    <p>
      <a href="{% url "view_meetup" meetup.slug %}">Back to meetup</a>
    </p>
  </div>
{% endblock %}
