{% extends "base.html" %}

{% block content %}
  <div class="mt20 mb40">
    <h2 class="ml15"> Upcoming Meetups </h2>
      {% for meetup in meetup_list %}
        <div class="mt20 ml15 box-container box-body">
    {% if meetup.meetup_picture.name and meetup.meetup_picture.name != "False" %}

          <img src="{{ meetup.meetup_picture.url }}" class="img-fluid img-thumbnail"
          alt="{{ meetup.title }} meetup picture" />
          {% endif %}
          <h3>
            <a href="{% url 'view_meetup'  meetup.slug %}">{{ meetup.title }}</a>
          </h3>
          <p class="meetup-details">
            <span><strong>Date:</strong> {{ meetup.date }}</span>
            <span><strong>Time:</strong> {{ meetup.time|time:"H:i"|default:"TBA" }}</span>
            <span><strong>Venue:</strong> {{ meetup.venue|default:"TBA" }}</span>
          </p>
          <p>
            {{ meetup.description|safe|truncatewords:30 }}
            <a href="{% url 'view_meetup' meetup.slug %}">LEARN MORE</a>
          </p>
        </div>
      {% endfor %}
      {% include "blog/snippets/pagination.html" %}
  </div>
{% endblock %}
