{% extends "base.html" %}

{% block title %} - Server Error{% endblock %}

{% block content %}
  
  <div class="jumbotron jumbotron-custom">
    <h1>500</h1>
    <h1>Server Error/Internal Server Error</h1>
    <p>An unexpected error seems to have occured. Try refreshing the page or return to the previous page.</p>
    <p>
    	<a class="btn btn-lg btn-success" href="#" role="button" style="margin-top: 80px" onclick="history.go(-1); return false;">Back to previous page</a>
    </p>
  </div>

  <div class="mt40"></div>
{% endblock %}
