<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Systers Portal is a unified platform for Systers
  and its sub-groups to share information and get the latest news.">

  <title>Systers Portal{% block title %}{% endblock %}</title>

  {% load staticfiles %}
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet"/>
  <link href="{% static 'css/style.css' %} " rel="stylesheet"/>

  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

  {% block head %}{% endblock %}
</head>

<body>
<div class="ml16 mr16">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"><img id= 'systers-logo' src="{% static 'img/logo.png' %}"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav text-uppercase" id='lower-nav'>
        {% url 'about-us' as url %}
        <li id="nav-menu" {% if url == request.path %}class="active"{% endif %}>
          <a href="{{ url }}">About Us</a>
        </li>
        <li id="nav-menu" class="dropdown {% if '/community/' in request.path or url == request.path %}active{% endif %}" id="community-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Communities <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              {% if user.is_authenticated and user.is_active %}
              {% url 'request_community' as url %}
              <li {% if url == request.path %}class="active"{% endif %}role="presentation">
                <a role="menuitem" href="{{ url }}">
                  Request a new community</a>
              </li>
              {% endif %}
             <li><a href="{%url 'search'%}">Search For Communities</a></li>
              {% if user.is_authenticated and user.is_active and user.is_staff %}
              {% url 'unapproved_community_requests' as url %}
              <li {% if url == request.path %}class="active"{% endif %}role="presentation">
                <a role="menuitem" href="{{ url }}">
                  View community requests </a>
              </li>
              {% endif %}
              {% if user.is_authenticated and user.is_active and user.is_staff %}
              {% url 'add_community' as url %}
              <li {% if url == request.path %}class="active"{% endif %}role="presentation">
                <a role="menuitem" href="{{ url }}">
                  Add a new community</a>
              </li>
              {% endif %}
          </ul>
        </li>
        <li id="nav-menu" {% if '/meetup/' in request.path %}class="dropdown active"{% endif %} class="dropdown" id="meetup-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meetups<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% url 'upcoming_meetups' as url %}
            <li {% if url == request.path %}class="active"{% endif %}>
              <a role="menuitem" href="{{ url }}">Upcoming Meetups</a>
            </li>
            {% url 'all_upcoming_meetups' as url %}
            <li {% if url == request.path %}class="active"{% endif %}>
              <a role="menuitem" href="{{ url }}">Search Meetups</a>
            </li>
            {% url 'past_meetups' as url %}
            <li {% if url == request.path %}class="active"{% endif %}>
              <a role="menuitem" href="{{ url }}">Past Meetups</a>
            </li>
            {% if user.is_authenticated and user.is_active %}
            {% url 'request_meetup' as url %}
            <li {% if url == request.path %}class="active"{% endif %}role="presentation">
              <a role="menuitem" href="{{ url }}">
              Request New Meetup</a>
            </li>
            {% endif %}
            {% if user.is_authenticated and user.is_active and user.is_staff %}
             {% if perms.meetup.view_meetup_request %}
            {% url 'new_meetup_requests' as url %}
            <li {% if url == request.path %}class="active"{% endif %}role="presentation">
              <a role="menuitem" href="{{ url }}">
              View meetup requests </a>
            </li>
            {%endif%}
            {% endif %}
            {% if user.is_staff %}
            {% url 'add_meetup' as url %}
            <li {% if url == request.path %}class="active"{% endif %}>
              <a role="menuitem" href="{{ url }}">Add New Meetup</a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li id="nav-menu"><a href="https://github.com/anitab-org/portal/wiki" target="blank_">Wiki</a></li>
        {% url 'contact' as url %}
        <li id="nav-menu" {% if url == request.path %}class="active"{% endif %}><a href="{{ url }}">Contact</a></li>
        {% if user.is_authenticated and user.is_active %}
        <li id='user-dropdown-menu' class="dropdown {% if '/users/' in request.path or '/accounts/' in request.path %}active{% endif %}">
              <a role="menuitem" href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li {% if '/users/' in request.path %}class="active"{% endif %}>
                  <a role="menuitem" href="{% url 'user' user.username %}">Profile</a>
                </li>
                {% if user.is_staff %}
                <li><a role="menuitem" href="{% url 'admin:index' %}">Admin Panel</a></li>
                {% endif %}
                {% url 'account_change_password' as url %}
                <li {% if url == request.path %}class="active"{% endif %}>
                  <a role="menuitem" href="{{ url }}">Change password</a>
                </li>
                {% url 'logout' as url %}
                <li {% if url == request.path %}class="active"{% endif %}>
                  <a role="menuitem" href="{{ url }}">Logout</a>
                </li>
              </ul>
         </li>
        {% else %}
            {% url 'account_signup' as url %}
            <li {% if url == request.path %}class="active"{% endif %}>
              <a id="signup-btn-menu" href="{{ url }}">Sign up</a>
            </li>
            {% url 'account_login' as url %}
            <li {% if url == request.path %}class="active"{% endif %}>
              <a id="log-btn-menu" href="{{ url }}">Login</a>
            </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav text-uppercase" id="upper-nav">
        {% if user.is_authenticated and user.is_active %}
          <p><li class="dropdown {% if '/users/' in request.path or '/accounts/' in request.path %}active{% endif %}" id="user-dropdown"></li>
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown">{{ user }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li {% if '/users/' in request.path %}class="active"{% endif %}>
                <a href="{% url 'user' user.username %}">Profile</a>
              </li>
              {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
              {% endif %}
              {% url 'account_change_password' as url %}
              <li {% if url == request.path %}class="active"{% endif %}>
                <a href="{{ url }}">Change password</a>
              </li>
              {% url 'logout' as url %}
              <li {% if url == request.path %}class="active"{% endif %}>
                <a id="log-btn" href="{{ url }}">Logout</a>
              </li>
            </ul>
          </p>
        {% else %}
          {% url 'account_signup' as url %}
          <li {% if url == request.path %}class="active"{% endif %}>
            <a id="signup-btn" href="{{ url }}">Sign up</a>
          </li>
          {% url 'account_login' as url %}
          <li {% if url == request.path %}class="active"{% endif %}>
            <a id="log-btn" href="{{ url }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="message {% if message.tags %}message-{{ message.tags }}{% endif %}" role="alert">
        <div class="container">{{ message }}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="container-fluid">
  {% block content %}{% endblock %}
</div>

<div class="footer">
  <div class="container">
    <p class="text-muted">
      {% block community_footer %}&copy; Systers, an Anita Borg Community{% endblock %}
    </p>
  </div>
</div>
</div>
<script src="{% static 'js/libs/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/community-search.js' %}"></script>
<script src="{% static 'js/choose_profile_pic.js' %}"></script>
<script src="{% static 'js/search_menu.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
