{% extends "base.html" %}
{% block title %}
  {% if user == systersuser.user %}
    - Edit my profile
  {% else %}
    - Edit profile of {{ systersuser }}
  {% endif %}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>
        {% if user == systersuser.user %}
          Edit my profile
        {% else %}
          Edit profile of {{ systersuser }}
        {% endif %}
      </h1>
      <hr/>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock %}
