/* Reusable CSS
-------------------------------------------------- */
.mt40 {
  margin-top: 40px;
}

.mt20 {
  margin-top: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb15 {
  margin-bottom: 15px;
}

.mr16 {
  margin-right: 16px;
}

.ml16 {
  margin-left: 16px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .text-muted {
  margin: 20px 0;
}

/* Container styles
-------------------------------------------------- */
body > .container-fluid {
}

/* Custom alert messages
-------------------------------------------------- */
.messages {
  margin-top: 54px;
  margin-bottom: -15px;
  text-align: center;
}

.message {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.message a {
  font-weight: 700;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.message-info {
  color: #31708f;
  background-color: #d9edf7;
}

.message-info a {
  color: #245269;
}

.message-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.message-success a {
  color: #2b542c;
}

.message-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.message-warning a {
  color: #66512c;
}

.message-error {
  color: #a94442;
  background-color: #f2dede;
}

.message-error a {
  color: #843534;
}

/* Navbar style
-------------------------------------------------- */
.navbar-default {
  background-color: #fff;
  position: relative;
}

.navbar {
  border-width: 0 1px 1px 1px;
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Cairo';
}

#lower-nav {
  margin-top: 65px;
  border-top: .1em solid #54bceb;
  width: 60%;
}

#lower-nav>li>a {
  color: #101820;
}

#upper-nav>li>a {
  color: white;
  height: 40px;
  font-size: 14px;
  padding-top: 11px;
}

#upper-nav {
  position: absolute;
  right: 130px;
  top:20px;
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Cairo';
}

#line {
  width: 70%;
  z-index: 2;
  height: 4px;
}

#systers-logo {
  height: 80px;
  width: 350px;
  margin: 10px;
}

#log-btn {
  background-color: #47bca0;
}

#signup-btn {
  background-color: #8d2165;
  right: 20%;
  border-radius: 5px;
}

.auth-img {
  width: 40px;
  height: 30px;
  padding-left: 10px;
}

/* Index page styles
-------------------------------------------------- */
.jumbotron-custom {
  background-color: #fff;
  text-align: center;
  border: 0;
  color: #575757;
  box-shadow: none;
}

.jumbotron-custom .index-head {
  font-family: Cairo;
  color: #8d2165;
}

.featurette-divider {
  margin: 4em 0;
}

.featurette-heading {
  font-weight: 300;
  font-family: Cairo;
  color:#F89728;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 0;
  font-size: 3.5em;
}

.lead {
  color: #575757;
  font-family: Monserrat;
}

.btn {
  background-color: #005c88 ;
  border-color: #005c88;
}

.btn-default {
  background-color: #e2e2e2;
  border-color: #dadada;
  color: #555555;
  padding: 8px 12px 7px;
}

@media screen and (max-width: 991px) {
  .featurette img.img-responsive {
    margin: 0 auto;
  }

  .featurette {
    text-align: center;
  }
}


/* Common: about us, contact
-------------------------------------------------- */
.contact-text,
.about-us-text {
  font-family: Monserrat;
  font-size: 1.2em;
  color: #575757;
  line-height: 1.8em;
  margin: 20px 0;
}


.about-us-head{
  font-family: Cairo;
  color: #8d2165;
}

.contact-head {
  font-family: Cairo;
  color: #8d2165;
}

.contact-icon {
  margin: 0 5px;
}

/* Meetup: Meetup List
---------------------------------------------------*/
.meetup-list-head {
  font-family: "Cairo";
  color: #8d2165;
}

.meetup-list-subhead {
  font-size: 24px;
  margin-bottom: 45px;
  line-height: 1.3;
  text-align: center;
}

.search-options {
  font-family: Cairo;
  font-size: 15px;
  margin: 0 4px 0 0;
  color: #888b8d;
  border: none;
  display: inline-block;
}

.search-btn {
  color: white;
  font-family: Cairo;
  font-size: 18px;
  background-color: #54BCEB;
  text-transform: uppercase;
  border: none;
}

.search-form {
  display: inline;
}

.filter-form {
  display: inline;
  float: right;
}

/* Meetup: Upcoming Meetups List
---------------------------------------------------*/
input {
  border: 0;
  background-color: #f5f5f5;
}

.fake-border {
  font-style: italic;
  width: auto;
  font-family: 'Cairo';
  background-color: #f5f5f5;
  display: inline;
  border: 1px solid #f5f5f5;
  margin: 0 10px 0 10px;
}

#date input {
  line-height: 22.5px;
  width: 11%;
}

.glyphicon {
  margin-left: 3px;
}

.hidden {
  display: none;
}

.filter-list {
  background-color: #f5f5f5;
  border: 0;
  font-size: 14px;
}

.search-options {
  width: 100%;
}

.glyphicon glyphicon-search glyphicon-map-marker {
  color: #4fb4e0;
}

#filters {
  float: right;
  width: 30%;
}

#location-input {
  width: 15%;
  font-style: italic;
  font-family: 'Cairo';
  background-color: #f5f5f5;
  display: inline;
  border: 1px solid #f5f5f5;
}

#location-input {
  width: 50%;
}

/* Common: new community proposal form
---------------------------------------------------*/
#google-embed-form{
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 0;
}

/* Community: new community request form
---------------------------------------------------*/
.request-form-head {
  color: #8d2165;
  font-family: 'Cairo';
}

.form-control {
  background-color: #d1e9d9;
}
.option {
  color: white;

}

.well {
  position: relative;
  background-color: white;
  border: none;
  box-shadow: none;
  width: auto;
  font-family: Cairo;
}

.ml15{
  font-family: Cairo;
}

.control-label {
  color: #101820;
}

/* social icons contact page
---------------------------------------------------*/
.facebook_icon {
  color: #3b5998;
}

.twitter_icon {
 color: #55acee;
}

.github_icon {
  color: #333333;
}

.linkedin_icon {
  color: #0077b5;
}

/* log-in page social buttons
----------------------------*/

.facebook_button,
.facebook_button:hover,
.twitter_button,
.twitter_button:hover,
.github_button,
.github_button:hover,
.google_button,
.google_button:hover {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  display: block;
}

.facebook_button,
.facebook_button:hover {
  background-color: #3b5998;
  color: #3b5998;
}

.twitter_button,
.twitter_button:hover {
  background-color:  #55acee;
  color: #55acee;
}

.github_button,
.github_button:hover {
  background-color: #333333;
  color: #333333;
}

.google_button,
.google_button:hover {
  background-color: #dc4e41;
  color: #dc4e41;
}

.social_button_text,
.social_button_text:hover {
  color: #ffffff;
}

/* Sign in, Sign up
-------------------------------------------------- */
.form-signin,
.form-signup,
.form-logout,
.form-inactive,
.form-password-change,
.form-password-reset {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.share-buttons {
  margin: 20px 0;
}

.or-delimiter {
  text-align: center;
  margin: 10px 0;
}

/* Email
-------------------------------------------------- */
.email-heading {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

#email-subheading {
  font-size: 1.2em;
}

span {
  font-size: 1em;
}


/* User Profile
-------------------------------------------------- */
.profile-row {
  font-size: 16px;
}

.profile-element {
  display: inline-block;
  margin-left: 15px;
}

.condensed {
  margin-top: 0;
}

.profile-pic {
  margin-bottom: 10px;
  width: 50%;
}

table a.table-anchor,
table.decoration-none  tr a {
  text-decoration: none !important;
}

.table-custom {
  margin-bottom: 0px;
}

/* Blog
-------------------------------------------------- */

.blog-container {
  margin: 30px 0 50px;
}

.blog-entry {
  margin: 20px 0;
}

.blog-entry .title {
  font-weight: 100;
  font-size: 2em;
}

.blog-entry .body,
.box-body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1.8em;
}

.blog-entry .tags {
  font-size: 1.3em;
}

/* Meetup CSS
------------------------------------------------- */
.box-container {
  margin: 25px 0px;
  padding: 0px 25px;
  border: 1px solid #eee;
}

.box-body {
  margin: 30px 0px;
}

.pt25 {
  padding-top: 25px;
}

.glyphicon {
  float: right;
  color: black;
}

.glyphicon-pencil {
  right: 10px;
}

.map-container {
  height:400px;
  padding-right: 15px;
  padding-left: 15px;
}

.meetup-details span {
  margin-right: 15px;
}

.text-bottom{
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.upcomingMeetupslist{
  height: 400px;
  overflow-y: scroll;
  line-height: 1em;
  word-wrap: break-word;
  margin-bottom: 40px;
}

/* Commentbox CSS
------------------------------------------------- */
.comment-box{
  border: 0px;
  background-color: white;
  color: #555555;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.0em;
  line-height: 1.0em;
}

.edit .delete {
    background-color: #fff;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: right;
}

.commentbox .details{
  text-decoration: none;

/*  webkit-text-size-adjust: 100%;*/
}

/* Meetup Location Members user-cell space
-------------------------------------------------- */
.user-cell-wh-100 {
  width: 100px;
  height: 170px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
  .featurette-divider {
    margin: 2em 0;
  }

  .featurette {
    text-align: center;
  }

  .featurette-heading {
    font-size: 2.5em;
  }

  .featurette .lead {
    font-size: 1.4em;
  }

  .featurette .margin-responsive {
    margin-top: 15px;
  }

  .featurette .img-responsive {
    margin: 0 auto;
  }
  #systers-logo {
    height: 70px;
    width: 298px;
    margin: 6px;
  }
  #upper-nav {
      display: none;
  }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none;
    }
    .navbar-nav {
        float: none;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block;
    }
    .collapsing {
        overflow: hidden;
    }
    #log-btn {
        margin-right: 19px;
        margin-top: 3px;
    }
    #signup-btn {
        margin-left: 19px;
        margin-bottom: 3px;
    }
}

@media (min-width: 769px) {
    #log-btn-menu {
        display: none;
    }
    #signup-btn-menu {
        display: none;
    }
    #user-dropdown-menu {
        display: none;
    }
}
input[id=form1] {
  width: 100%;
  height: 40px;
}


.thumbnail {
    background-color: #F0FFFF;
}

input[id=keyword-input]{
  height: 30px;
  font-family: 'Cairo';
  background-color: white;
  border-bottom: 1px solid black;
}

select[id=location]{
  height: 30px;
  font-family: 'Cairo';
  background-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
}

input[id=go-btn]{
  height:30px;
  font-family: 'Cairo';
}

li[id=nav-menu]:hover{
  background-color:#54bceb;
}

@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
