/* Reusable CSS
-------------------------------------------------- */
.mt40 {
  margin-top: 40px;
}

.mt20 {
  margin-top: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb15 {
  margin-bottom: 15px;
}

.mr4 {
  margin-right: 4px;
}

.ml15 {
  margin-left: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .text-muted {
  margin: 20px 0;
}

/* Container styles
-------------------------------------------------- */
body > .container, body > .container-fluid {
  padding: 60px 15px 0;
}

/* Custom alert messages
-------------------------------------------------- */
.messages {
  margin-top: 54px;
  margin-bottom: -60px;
}

.message {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.message a {
  font-weight: 700;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.message-info {
  color: #31708f;
  background-color: #d9edf7;
}

.message-info a {
  color: #245269;
}

.message-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.message-success a {
  color: #2b542c;
}

.message-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.message-warning a {
  color: #66512c;
}

.message-error {
  color: #a94442;
  background-color: #f2dede;
}

.message-error a {
  color: #843534;
}

/* Index page styles
-------------------------------------------------- */
.jumbotron-custom {
  background-color: #fff;
  text-align: center;
  border: 0;
  box-shadow: none;
}

.featurette-divider {
  margin: 4em 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 0;
  font-size: 3.5em;
}

@media screen and (max-width: 991px) {
  .featurette img.img-responsive {
    margin: 0 auto;
  }

  .featurette {
    text-align: center;
  }
}


/* Common: about us, contact
-------------------------------------------------- */
.contact-text,
.about-us-text {
  font-family: Monserrat;
  font-size: 1.2em;
  line-height: 1.8em;
  margin: 20px 0;
}

.contact-head {
  font-family: Cairo;
  color: #8d2165;
}

.contact-icon {
  margin: 0 5px;
}

/* Common: new community proposal form
---------------------------------------------------*/
#google-embed-form{
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 0;
}

/* Community: new community request form
---------------------------------------------------*/
.request-form-head {
  color: #8d2165;
  font-family: 'Cairo';
}

.form-control {
  background-color: #d1e9d9;
}
.option {
  color: white;

}

.well {
  position: relative;
  background-color: white;
  border: none;
  box-shadow: none;
  width: auto; 
  font-family: Cairo;
}

.ml15{
  font-family: Cairo;
}

.control-label {
  color: #101820;
}

/* social icons contact page
---------------------------------------------------*/
.facebook_icon {
  color: #3b5998;
}

.twitter_icon {
 color: #55acee;
}

.github_icon {
  color: #333333;
}

.linkedin_icon {
  color: #0077b5;
}

/* log-in page social buttons
----------------------------*/

.facebook_button,
.facebook_button:hover,
.twitter_button,
.twitter_button:hover,
.github_button,
.github_button:hover,
.google_button,
.google_button:hover {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  display: block;
}

.facebook_button,
.facebook_button:hover {
  background-color: #3b5998;
  color: #3b5998;
}

.twitter_button,
.twitter_button:hover {
  background-color:  #55acee;
  color: #55acee;
}

.github_button,
.github_button:hover {
  background-color: #333333;
  color: #333333;
}

.google_button,
.google_button:hover {
  background-color: #dc4e41;
  color: #dc4e41;
}

.social_button_text,
.social_button_text:hover {
  color: #ffffff;
}

/* Sign in, Sign up
-------------------------------------------------- */
.form-signin,
.form-signup,
.form-logout,
.form-inactive,
.form-password-change,
.form-password-reset {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.share-buttons {
  margin: 20px 0;
}

.or-delimiter {
  text-align: center;
  margin: 10px 0;
}

/* Email
-------------------------------------------------- */
.email-heading {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

#email-subheading {
  font-size: 1.2em;
}

span {
  font-size: 1em;
}


/* User Profile
-------------------------------------------------- */
.profile-row {
  font-size: 16px;
}

.profile-element {
  display: inline-block;
  margin-left: 15px;
}

.condensed {
  margin-top: 0;
}

.profile-pic {
  margin-bottom: 10px;
  width: 50%;
}

table a.table-anchor,
table.decoration-none  tr a {
  text-decoration: none !important;
}

.table-custom {
  margin-bottom: 0px;
}

/* Blog
-------------------------------------------------- */

.blog-container {
  margin: 30px 0 50px;
}

.blog-entry {
  margin: 20px 0;
}

.blog-entry .title {
  font-weight: 100;
  font-size: 2em;
}

.blog-entry .body,
.box-body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1.8em;
}

.blog-entry .tags {
  font-size: 1.3em;
}

/* Meetup CSS
------------------------------------------------- */
.box-container {
  margin: 25px 0px;
  padding: 0px 25px;
  border: 1px solid #eee;
}

.box-body {
  margin: 30px 0px;
}

.pt25 {
  padding-top: 25px;
}

.map-container {
  height:400px;
  padding-right: 15px;
  padding-left: 15px;
}

.meetup-details span {
  margin-right: 15px;
}

.text-bottom{
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.upcomingMeetupslist{
  height: 400px;
  overflow-y: scroll;
  line-height: 1em;
  word-wrap: break-word;
  margin-bottom: 40px;
}
/* Commentbox CSS
------------------------------------------------- */
.comment-box{
  border: 0px;
  background-color: white;
  color: #555555;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.0em;
  line-height: 1.0em;
/*  webkit-text-size-adjust: 100%;*/
}

/* Meetup Location Members user-cell space
-------------------------------------------------- */
.user-cell-wh-100 {
  width: 100px;
  height: 170px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
  .featurette-divider {
    margin: 2em 0;
  }

  .featurette {
    text-align: center;
  }

  .featurette-heading {
    font-size: 2.5em;
  }

  .featurette .lead {
    font-size: 1.4em;
  }

  .featurette .margin-responsive {
    margin-top: 15px;
  }

  .featurette .img-responsive {
    margin: 0 auto;
  }
}
