/* Reusable CSS
-------------------------------------------------- */
.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb15 {
  margin-bottom: 15px;
}

.mr4 {
  margin-right: 4px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .text-muted {
  margin: 20px 0;
}

/* Container styles
-------------------------------------------------- */
body > .container {
  padding: 60px 15px 0;
}

/* Index page styles
-------------------------------------------------- */
.jumbotron-custom {
  background-color: #fff;
  text-align: center;
  border: 0;
  box-shadow: none;
}

.featurette-divider {
  margin: 4em 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 0;
  font-size: 3.5em;
}

@media screen and (max-width: 991px) {
  .featurette img.img-responsive {
    margin: 0 auto;
  }

  .featurette {
    text-align: center;
  }
}

/* Sign in, Sign up
-------------------------------------------------- */
.form-signin,
.form-signup {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.social-buttons {
  padding-top: 0;
}

.social-buttons a {
  margin-bottom: 10px;
}

.or-delimiter {
  text-align: center;
  margin: 10px 0;
}

/* User Profile
-------------------------------------------------- */
.profile-row {
  font-size: 16px;
}

.profile-element {
  display: inline-block;
  margin-left: 15px;
}

.condensed {
  margin-top: 0;
}

.profile-pic {
  margin-bottom: 10px;
  width: 50%;
}

table a.table-anchor,
table.decoration-none  tr a {
  text-decoration: none !important;
}

.table-custom {
  margin-bottom: 0px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
  .featurette-divider {
    margin: 2em 0;
  }

  .featurette {
    text-align: center;
  }

  .featurette-heading {
    font-size: 2.5em;
  }

  .featurette .lead {
    font-size: 1.4em;
  }

  .featurette .margin-responsive {
    margin-top: 15px;
  }

  .featurette .img-responsive {
    margin: 0 auto;
  }
}
