/* Reusable CSS
-------------------------------------------------- */
.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb15 {
  margin-bottom: 15px;
}

.mr4 {
  margin-right: 4px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .text-muted {
  margin: 20px 0;
}

/* Container styles
-------------------------------------------------- */
body > .container {
  padding: 60px 15px 0;
}

/* Custom alert messages
-------------------------------------------------- */
.messages {
  margin-top: 54px;
  margin-bottom: -60px;
}

.message {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.message a {
  font-weight: 700;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.message-info {
  color: #31708f;
  background-color: #d9edf7;
}

.message-info a {
  color: #245269;
}

.message-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.message-success a {
  color: #2b542c;
}

.message-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.message-warning a {
  color: #66512c;
}

.message-error {
  color: #a94442;
  background-color: #f2dede;
}

.message-error a {
  color: #843534;
}

/* Index page styles
-------------------------------------------------- */
.jumbotron-custom {
  background-color: #fff;
  text-align: center;
  border: 0;
  box-shadow: none;
}

.featurette-divider {
  margin: 4em 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 0;
  font-size: 3.5em;
}

@media screen and (max-width: 991px) {
  .featurette img.img-responsive {
    margin: 0 auto;
  }

  .featurette {
    text-align: center;
  }
}

/* Sign in, Sign up
-------------------------------------------------- */
.form-signin,
.form-signup,
.form-logout,
.form-inactive,
.form-password-change {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.social-buttons {
  padding-top: 0;
}

.social-buttons a {
  margin-bottom: 10px;
}

.or-delimiter {
  text-align: center;
  margin: 10px 0;
}

/* User Profile
-------------------------------------------------- */
.profile-row {
  font-size: 16px;
}

.profile-element {
  display: inline-block;
  margin-left: 15px;
}

.condensed {
  margin-top: 0;
}

.profile-pic {
  margin-bottom: 10px;
  width: 50%;
}

table a.table-anchor,
table.decoration-none  tr a {
  text-decoration: none !important;
}

.table-custom {
  margin-bottom: 0px;
}

/* Blog
-------------------------------------------------- */

.blog-container {
  margin: 30px 0 50px;
}

.blog-entry {
  margin: 20px 0;
}

.blog-entry .title {
  font-weight: 100;
  font-size: 2em;
}

.blog-entry .body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1.8em;
}

.blog-entry .tags {
  font-size: 1.3em;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
  .featurette-divider {
    margin: 2em 0;
  }

  .featurette {
    text-align: center;
  }

  .featurette-heading {
    font-size: 2.5em;
  }

  .featurette .lead {
    font-size: 1.4em;
  }

  .featurette .margin-responsive {
    margin-top: 15px;
  }

  .featurette .img-responsive {
    margin: 0 auto;
  }
}
