{% extends "base.html" %}

{% block title %}
  - {{ community }} - Users
{% endblock %}

{% block content %}
  <div class="mt40"></div>
  <div class="row">
    <div class="col-md-12">
      <h1>
        {{ community }} Users
      </h1>
      <hr/>
    </div>
    <div class="col-md-9">
      <table class="table table-hover decoration-none">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for systers_user in object_list %}
            <tr>
              <th>{{ forloop.counter0|add:page_obj.start_index }}</th>
              <td><a href="{{ systers_user.get_absolute_url }}">{{ systers_user.user.username }}</a></td>
              <td>{{ systers_user.user.first_name }}</td>
              <td>{{ systers_user.user.last_name }}</td>
              <td><a href="mailto:{{ systers_user.user.email }}">{{ systers_user.user.email }}</a></td>
              <td>
                {% if systers_user == community.admin %}
                  {% if systers_user.user == user %}
                    <a href="{% url 'user_permission_groups' community.slug systers_user.user.username %}"
                       role="button" class="btn btn-primary btn-xs">Permissions</a>
                    <a href="{% url 'transfer_ownership' community.slug %}"
                       role="button" class="btn btn-warning btn-xs">Transfer ownership</a>
                  {% endif %}
                {% else %}
                  <a href="{% url 'user_permission_groups' community.slug systers_user.user.username %}"
                     role="button" class="btn btn-primary btn-xs">Permissions</a>
                  {% if systers_user.user == user %}
                    <a href="{% url 'leave_community' community.slug %}" role="button"
                        class="btn btn-warning btn-xs">Leave</a>
                  {% else %}
                    <a href="{% url 'remove_member' community.slug systers_user.user.username %}"
                       role="button" class="btn btn-danger btn-xs">Remove</a>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      {% include 'community/snippets/community_sidebar.html' %}
    </div>
    {% include "blog/snippets/pagination.html" %}
  </div>
{% endblock %}

{% block community_footer %}
  {% include 'community/snippets/footer.html' %}
{% endblock %}