<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  Hey {{user}}, We have details for {{community}} for you.
  We have {{count}} members as of now!. Get the latest news and resources available at the community
  by checking out the Systers Portal. <br>
Thank You, <br>
AnitaB.org
</body>
</html>
