{% extends "community/base.html" %}
{% load wysiwyg %}

{% block head %}
  {% wysiwyg_setup %}
{% endblock %}

{% block title %}
  - Create news for {{ community }}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
  <div class="mt40"></div>
  <div class="row">
    <div class="col-md-12">
      <h1>Create news for {{ community }}</h1>
      <hr/>
    </div>
    <div class="col-md-8">
      <div class="well">
        {% crispy form %}
        {% wysiwyg_editor "id_content" %}
      </div>
    </div>
  </div>
{% endblock %}
