{% extends "community/base.html" %}

{% block title %}
  - {{ community }} News
{% endblock %}

{% block community_page_content %}
  <div class="blog-container">
    {% for news in object_list %}
      <div class="blog-entry">
        <h3 class="title"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>

        <p class="meta">{{ news.date_modified }} | <a
            href="{{ news.author.get_absolute_url }}">{{ news.author }}</a></p>

        <div class="body">{{ news.content|safe|truncatewords:50 }}</div>
        {% if news.tags %}
          <ul class="list-inline tags">
            {% for tag in news.tags.all %}
              <li><span class="label label-info">{{ tag }}</span></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <hr>
    {% endfor %}
    {% include "blog/snippets/pagination.html" %}
  </div>
{% endblock %}

{% block extra_sidebar %}
  {% include 'blog/snippets/news_sidebar.html' %}
{% endblock %}
