{% extends "community/base.html" %}

{% block title %}
  - {{ community }} - {{ news.title }}
{% endblock %}

{% block community_page_content %}
  <div class="blog-container">
    <div class="blog-entry">
      <h3 class="title"><a href="#">{{ news.title }}</a></h3>

      <p class="meta">{{ news.date_modified }} | <a
          href="{{ news.author.get_absolute_url }}">{{ news.author }}</a></p>

      <div class="body">{{ news.content|safe }}</div>
      {% if news.tags %}
        <ul class="list-inline tags">
          {% for tag in news.tags.all %}
            <li><a href="#" class="label label-info">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
