{% extends "community/base.html" %}

{% block title %}
  - {{ community }} {% if post_type == "news" %}News{% else %}Resources{% endif %}
{% endblock %}

{% block community_page_content %}
  <div class="blog-container">
    {% for post in object_list %}
      <div class="blog-entry">
        <h3 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>

        <p class="meta">{{ post.date_modified }} | <a
            href="{{ post.author.get_absolute_url }}">{{ post.author }}</a>
          {% if post.resource_type %}
            | <a href="#">{{ post.resource_type }}</a>
          {% endif %}
        </p>

        <div class="body">{{ post.content|safe|truncatewords:50 }}</div>
        {% if post.tags %}
          <ul class="list-inline tags">
            {% for tag in post.tags.all %}
              <li><span class="label label-info">{{ tag }}</span></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <hr>
    {% endfor %}
    {% include "blog/snippets/pagination.html" %}
  </div>
{% endblock %}

{% block extra_sidebar %}
  {% if post_type == "news" %}
    {% include 'blog/snippets/news_sidebar.html' %}
  {% else %}
    {% include 'blog/snippets/resources_sidebar.html' %}
    {% include 'blog/snippets/resource_types.html' %}
  {% endif %}
  {% include 'blog/snippets/tags_sidebar.html' %}
{% endblock %}
