{% load guardian_tags %}

{% if user.is_authenticated and user.is_active %}
  {% get_obj_perms user for community as "community_perms" %}
  {% if "add_community_resource" in community_perms %}
    <div class="sidebar-module mb40">
      <h4>Resource Actions</h4>
      <ol class="list-unstyled">
        <li><a href="#">Add resource</a></li>
        {% if "change_community_resource" in community_perms and resource %}
          <li><a href="#">Edit current resource</a></li>
        {% endif %}
        {% if "delete_community_resource" in community_perms and resource %}
          <li><a href="#">Delete current resource</a></li>
        {% endif %}
      </ol>
    </div>
  {% endif %}
{% endif %}
