{% extends "base.html" %}
{% load account %}
{% load crispy_forms_tags %}
{% block title %} - Password Reset{% endblock %}

{% block content %}
  <div class="container">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password-reset form-password-reset">
      <h2>Password Reset</h2>
      <hr>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>Forgotten your password?</p>
      <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
 
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt40"></div>
      <button class="primaryAction btn btn-lg btn-primary btn-block" type="submit" name="action">
        Change Password
      </button>
      <p>Please <a href="{% url 'contact' %}">contact</a> us if you have any trouble resetting your password.</p>
    </form>
  </div>
<div class="mt40"></div>
{% endblock %}
