{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} - Change Password{% endblock %}
{% block content %}
  <div class="container">
    <form method="POST" id="password-change_form" action="{% url 'account_change_password' %}" class="password-change form-password-change">
      <h2>Change Password</h2>
      <hr>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt40"></div>
      <button class="primaryAction btn btn-lg btn-primary btn-block" type="submit" name="action" id="change_pass_button">
        Change Password
      </button>
      <p> Please <a href="{% url 'contact' %}">contact</a> us if you have any trouble in changing your password.</p>
    </form>
  </div>
  <div class="mt40"></div>
{% endblock %}
